{% extends 'web_final/base.html' %}
{% block cabecera %}
    <li class="nav-item"> <a class="nav-link" href="/web_final/about/">Acerca de<br></a> </li>
    {% if user.is_authenticated %}
    <li class="nav-item"> <a class="nav-link" href="/web_final/logout/">Logout</a> </li>
    <li class="nav-item"> <a class="nav-link" href="/web_final/registrop/">Registrar producto</a> </li>
    {% else %}
    <li class="nav-item"> <a class="nav-link" href="/web_final/login/">Login</a> </li>
    <li class="nav-item"> <a class="nav-link" href="/web_final/register/">Registrate aquí</a> </li>
    {% endif %}
{% endblock %}
{% block banner %}
    <p class="lead text-white">Gracias a nuestra página puedes encontrar todo lo que desees con cada una de sus características.</p>
    {% if user.is_authenticated %}
    <h1 class="text-white">Enjoy it {{ user.username }}!</h1>
    {% else %}
    <h1 class="text-white">Enjoy it!</h1>
    {% endif %}
{% endblock %}
{% block buscador %}
        <form class="form-inline my-2 my-lg-0" action="." method="GET"> <input class="form-control mr-sm-2" type="text" name="q" value="{{ query|escape }}"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button> </form>
{% endblock %}
{% block body_block %}
  {% if query %}
    <h2>Resultados para "{{ query|escape }}":</h2>
    {% if results|length > 0 %}
     <div class="py-5">
        <div class="container">
          <div class="row">
              {% for producto in results1 %}
            <div class="col-md-4"><img class="center-block img-fluid d-block w-75" src= "..\..\{{producto.imagen}}">
            <h1 class="text-info"><a href="/web_final/producto/?q={{producto.id}}">{{producto.nombre}}<br></a></h1>
              <p class="lead">Precio: {{producto.precio}} Bs</p>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
    <div class="py-5">
        <div class="container">
          <div class="row">
              {% for producto in results2 %}
            <div class="col-md-4"><img class="center-block img-fluid d-block w-75" src= "..\..\{{producto.imagen}}">
            <h1 class="text-info"><a href="/web_final/producto/?q={{producto.id}}">{{producto.nombre}}<br></a></h1>
              <p class="lead">Precio: {{producto.precio}} Bs</p>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
    <div class="py-5">
        <div class="container">
          <div class="row">
              {% for producto in results3 %}
            <div class="col-md-4"><img class="center-block img-fluid d-block w-75" src= "..\..\{{producto.imagen}}">
            <h1 class="text-info"><a href="/web_final/producto/?q={{producto.id}}">{{producto.nombre}}<br></a></h1>
              <p class="lead">Precio: {{producto.precio}} Bs</p>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
            {% else %}
                <strong>No se encontro coincidencia.</strong>
            {% endif %}

  {% endif %}
{% endblock %}