{% extends 'web_final/base.html' %}
{% block cabecera %}
    {% if user.is_authenticated %}
    <li class="nav-item"> <a class="nav-link" href="/web_final/logout/">Logout</a> </li>
    <li class="nav-item"> <a class="nav-link" href="/web_final/registrop/">Registrar producto</a> </li>
    {% else %}
    <li class="nav-item"> <a class="nav-link" href="/web_final/login/">Login</a> </li>
    <li class="nav-item"> <a class="nav-link" href="/web_final/register/">Registrate aquí</a> </li>
    {% endif %}
{% endblock %}
{% block banner %}
    <p class="lead text-white">Gracias a nuestra página puedes encontrar todo lo que desees con cada una de sus características.</p>
    {% if user.is_authenticated %}
    <h1 class="text-white">Enjoy it {{ user.username }}!</h1>
    {% else %}
    <h1 class="text-white">Enjoy it!</h1>
    {% endif %}
{% endblock %}
{% block buscador %}
{% endblock %}
{% block body_block %}
<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group"> <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Categorias </button>
            <div class="dropdown-menu">
                {% for categoria in categorias %}
                <a class="dropdown-item" href="/web_final/searchc/?q={{categoria.id}}">{{categoria.nombre}}</a>
                {% endfor %}
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/web_final/">Todas</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% if query %}
    <h2>Categoria "{{ categ.0.nombre }}":</h2>
    {% if results|length > 0 %}
     <div class="py-5">
        <div class="container">
          <div class="row">
              {% for producto in results1 %}
            <div class="col-md-4"><img class="center-block img-fluid d-block w-75" src= "..\..\{{producto.imagen}}">
            <h1 class="text-info"><a href="/web_final/producto/?q={{producto.id}}">{{producto.nombre}}<br></a></h1>
              <p class="lead">Precio: {{producto.precio}} Bs</p>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
    <div class="py-5">
        <div class="container">
          <div class="row">
              {% for producto in results2 %}
            <div class="col-md-4"><img class="center-block img-fluid d-block w-75" src= "..\..\{{producto.imagen}}">
            <h1 class="text-info"><a href="/web_final/producto/?q={{producto.id}}">{{producto.nombre}}<br></a></h1>
              <p class="lead">Precio: {{producto.precio}} Bs</p>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
    <div class="py-5">
        <div class="container">
          <div class="row">
              {% for producto in results3 %}
            <div class="col-md-4"><img class="center-block img-fluid d-block w-75" src= "..\..\{{producto.imagen}}">
            <h1 class="text-info"><a href="/web_final/producto/?q={{producto.id}}">{{producto.nombre}}<br></a></h1>
              <p class="lead">Precio: {{producto.precio}} Bs</p>
            </div>
              {% endfor %}
          </div>
        </div>
      </div>
            {% else %}
                <strong>No se encontro productos en esta categoria</strong>
            {% endif %}

  {% endif %}
{% endblock %}